POSTGRES_DB=hw8
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

REDIS_HOST=redis
REDIS_PORT=6379

DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

MAIL_USERNAME="example@meta.ua"
MAIL_PASSWORD="secretPassword"
MAIL_FROM="example@meta.ua"
MAIL_PORT=465
MAIL_SERVER=smtp.mailgun.org
MAIL_FROM_NAME="Example email"
MAIL_STARTTLS=False
MAIL_SSL_TLS=True
USE_CREDENTIALS=True
VALIDATE_CERTS=True

CLD_NAME=ewrfsdf543sd4
CLD_API_KEY=54654234234
CLD_API_SECRET=99435fdg7ert843df
